<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello world</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="root">
        <input type="text" v-model="inputValue"/>
        <button v-on:click="handlebtn">提交</button>
        <button v-on:click="handledel">删除</button>
        <ul>
            <!-- <li v-for="item in list">{{item}}</li> -->
            <todo-item  v-bind:content="item" 
                        v-bind:index="index"
                        v-for="(item, index) in list"
                        v-on:delete="handleItemDelete">
            </todo-item>
        </ul>
    </div>
</body>
<script>
    // Vue.component("TodoItem",{
    //     props:['content'],
    //     template:"<li>{{content}}</li>"
    // })

    var TodoItem= {
        props:['content','index'],
        template:"<li v-on:click='handleItemclick'>{{content}}</li>",
        methods: {
            handleItemclick: function(){
                this.$emit("delete",this.index,this.content)
            }
        },
    }

    var app = new Vue({
        el:'#root',
        components:{
            TodoItem:TodoItem
        },
        data:{
            list:[],
            inputValue:''
        },
        methods: {
            handlebtn: function(){
               this.list.push(this.inputValue);
               this.inputValue = ''
            },
            handledel: function(){
                this.list.pop()
            },
            handleItemDelete: function(index){
                let Num = this.list[index]
                this.list.splice(index,1,parseInt(this.list[index])+1)
                // this.list.splice(index,1,this.list[index]+1)
            }
        }
    });

</script>
</html>