@font-face {
	font-family: "iconfont"; /* Project id 2574429 */
	src: url("../fonts/iconfont.woff?t=1657266995500") format("woff"),
		url("../fonts/iconfont.woff2?t=1657266995500") format("woff2"),
		url("../fonts/iconfont.ttf?t=1657266995500") format("truetype"),
		url("../fonts/iconfont.svg?t=1657266995500#iconfont") format("svg");
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-save:before {
	content: "\e7e6";
}

.icon-json1:before {
	content: "\e612";
}

.icon-daoru:before {
	content: "\e639";
}

.icon-qingkong:before {
	content: "\e62a";
}

.icon-yulan1:before {
	content: "\e65b";
}

.icon-sysSerialNumber:before {
	content: "\e858";
}

.icon-tianjia:before {
	content: "\e63b";
}

.icon-userdepartment:before {
	content: "\e611";
}

.icon-chexiao:before {
	content: "\e6e9";
}

.icon-chongzuo:before {
	content: "\eacb";
}

.icon-mp:before {
	content: "\e6c3";
}

.icon-weizhileixing:before {
	content: "\e6c4";
}

.icon-jpg:before {
	content: "\e6c5";
}

.icon-docx:before {
	content: "\e6c6";
}

.icon-PDF:before {
	content: "\e6c7";
}

.icon-mp1:before {
	content: "\e6c8";
}

.icon-txt:before {
	content: "\e6c9";
}

.icon-ppt:before {
	content: "\e6ca";
}

.icon-zip:before {
	content: "\e6cb";
}

.icon-ps:before {
	content: "\e6cc";
}

.icon-xlsx:before {
	content: "\e6cd";
}

.icon-treeselect:before {
	content: "\e616";
}

.icon-button:before {
	content: "\e649";
}

.icon-lianjie:before {
	content: "\e89c";
}

.icon-biaogeshezhi-copy:before {
	content: "\e642";
}

.icon--charuhang:before {
	content: "\e60e";
}

.icon--charulie:before {
	content: "\e610";
}

.icon-relafile:before {
	content: "\e7db";
}

.icon-mobile:before {
	content: "\eac8";
}

.icon-customcomp:before {
	content: "\e60f";
}

.icon-zhage:before {
	content: "\e67b";
}

.icon-sync:before {
	content: "\e783";
}

.icon-table:before {
	content: "\e77e";
}

.icon-tabs:before {
	content: "\e641";
}

.icon-text:before {
	content: "\e625";
}

.icon-customfield:before {
	content: "\e74e";
}

.icon-customarea:before {
	content: "\e606";
}

.icon-date:before {
	content: "\e6c2";
}

.icon-pad:before {
	content: "\eac9";
}

.icon-pc:before {
	content: "\eaca";
}

.icon-checkbox:before {
	content: "\e60b";
}

.icon-divider:before {
	content: "\e608";
}

.icon-radio:before {
	content: "\e630";
}

.icon-noticeplus:before {
	content: "\e609";
}

.icon-qingkonghuishouzhan:before {
	content: "\e662";
}

.icon-subform:before {
	content: "\e61b";
}

.icon-sdx1:before {
	content: "\e852";
}

.icon-cascader:before {
	content: "\e601";
}

.icon-tupianyulan:before {
	content: "\e6be";
}

.icon-pingfen:before {
	content: "\e692";
}

.icon-time:before {
	content: "\e6a2";
}

.icon-clear-copy:before {
	content: "\e600";
}

.icon-editor:before {
	content: "\e60a";
}

.icon-code:before {
	content: "\e60c";
}

.icon-drag:before {
	content: "\e6ac";
}

.icon-shangchuan:before {
	content: "\e6ae";
}

.icon-tupian:before {
	content: "\e85e";
}

.icon-_huabanfuben:before {
	content: "\e60d";
}

.icon-trash:before {
	content: "\e84e";
}

.icon-ad-icon-tooltip:before {
	content: "\e84f";
}

.icon-slider:before {
	content: "\e857";
}

.icon-icon_bars:before {
	content: "\e859";
}

.icon-number:before {
	content: "\e85b";
}

.icon-textarea:before {
	content: "\e863";
}

.icon-icon_clone:before {
	content: "\e865";
}

.icon-json:before {
	content: "\e866";
}

.icon-input:before {
	content: "\e867";
}

.icon-switch:before {
	content: "\e869";
}

.icon-color:before {
	content: "\e870";
}

.icon-icon-test:before {
	content: "\e874";
}

.icon--weibiaoti46:before {
	content: "\e602";
}

.icon-fileupload:before {
	content: "\e615";
}

.icon-rate:before {
	content: "\e621";
}

.icon-yulan:before {
	content: "\e634";
}

.icon-deleteitem:before {
	content: "\e638";
}

.icon-grid:before {
	content: "\e648";
}

.icon-select:before {
	content: "\e814";
}

.icon-html:before {
	content: "\eac7";
}
