<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue列表渲染</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- 
            在最外层进行循环，
            就不用在下面的div和span中去各自循环了
            循环数组的方式？循环对象的方式？
         -->
        <!-- 1.循环数组 -->
        <template 
            v-for="(item, index) of list" 
            :key="index"
        >
            <div>
                {{item.text}} --- {{index}}
            </div>
            <span>
                {{item.text}}
            </span>
        </template>

        <!-- 2.循环对象 -->
        <div v-for="(item, key, index) of userInfo">
            {{item}}---{{key}}==={{index}}
        </div>
    </div>

    <script>
        /* 
            key值？
            key值一般用后端返回的数据中的可能是id这样的唯一标识符，尽量唯一
            且不使用index ，使用index比较耗费性能
        */
        /* 
            // 数组
            Vue里动态数组响应？
            当在vue里去尝试修改数组里内容的时候，不能直接通过下标的形式，如:
            vm.list[3] = {id: "003", text: "第四项"}
            来实现数据变化页面变化

            只能通过
            1.  vue提供的几个数组变异方法来操作数组，才能够实现数据发生变化，
                页面也跟着变这种响应式的效果
            push pop shift unshift splice sort reverse
                vue中本身只是监视了 list 的改变，没有监视数组内部数据的改变
                vue重写了数组中一系列改变数组内部数据的方法(先调用原生,更新页面)--->数组内部改变, 界面自动变化
            2.  直接改变数组的引用-----改变数据的引用地址

            // 对象
            Vue里动态对象响应？
            当在vue里去尝试修改对象里内容的时候，不能直接通过添加的形式，如:
            vm.userInfo.address = "shanghai"
            来实现数据变化页面变化

            只能通过
            改变对象引用的方法：
                    userInfo: {
                        name: "Dell",
                        age: 28,
                        gender: "male",
                        salary: "secret",
                        address: "shanghai"
                    }
        */
        var vm = new Vue({
            el: "#app",
            data(){
                return{
                    /* 数组 */
                    list:[
                        {id: "0102011", text: "hello"},
                        {id: "0102022", text: "Dell"},
                        {id: "0102023", text: "Lee"}
                    ],

                    /* 对象 */
                    userInfo: {
                        name: "Dell",
                        age: 28,
                        gender: "male",
                        salary: "secret"
                    }
                }
            } 
        })
    </script>
</body>
</html>